<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--should be configured in simulation.launch-->
  <arg name="world_name_global" default="worlds/empty.world"/>
  
  <!--To launch RVIZ set the value to true-->
  <arg name="rviz" value="false"/>

<!---=================================================================================================================================================================-->

 <!--Gazebo Variables--> 
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name_global)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
</include>

 <!--Robot description to param server-->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kuka_lbr_iiwa_support)/urdf/lbr_iiwa_14_r820.xacro'"/>

  <node name="mmo_700_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
  args="-x -2.5 -urdf -param robot_description -model fwx" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
  <param name="publish_frequency" value="20.0"/>
  </node>


   <!--include file="$(find neo_simulation)/config/controller/launch/controller_utils.launch"/-->

<rosparam file="$(find iiwa_moveit)/config/iiwa_controller.yaml" command="load"/>
<node name="iiwa_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn iiwa_controller" respawn="false" output="screen"/>
</launch>
